*
{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../images/2nd\ new.jpg");
    height: 100%;
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
}
header{
    height:100% ;
    background-size: cover;
    background-position: center;
}
html{
    overflow-x: hidden;
}
.navi{
    float:right;
    list-style: none;
    margin-top: 1.5em;
}
.navi li{
    display: inline;
}
.navi li a{
    color: white;
    text-decoration: none;
    padding:0.5em 1em;
    font-family: 'Poiret One', cursive;
    font-size: 0.9em;
}
.navi li.activate a
{
    border: 0.2em solid white;
}
.navi li a:hover{
    border: 0.2em solid white;
    cursor: pointer;
}
.logo img {
    width: 5em;
    height: auto;
    margin-top: 1em;
    position: relative;
    left: 1em;
    float: left;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /* color: white; */
    max-width: 112em;
    margin:auto;
}
.h-one{
    position: absolute;
    width: 112em;
    margin-left:31em ;
    margin-top: 18em; 
}
h1{
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
.button{
    margin-top: 7em;
    margin-left: 6em;
}
.btn {
    border: 0.2em solid white;
    padding: 0.5em 0.9em;
    color:white;
    text-decoration: none; 
    margin-right:0.2em;
    font-size: 0.8em;
    border-radius: 0.5em;
    text-align: center;
}
.btn-one{
    background-color: rgb(48, 122, 54);
}
.wrap{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h3{position: relative;
    top: 4.5em;
    color: white;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 2.3em;
    

    
}
.wrap h5{
    position: relative;
    top: 5.8em;
    /* padding-top: 2em; */
    /* margin-left: 11.5em;  */
    color: white;
    font-size: 2.3em;
    font-family: 'Bilbo Swash Caps', cursive;
}
    
